<%= link_to "new cocktail", new_cocktail_path, class: "btn btn-primary" %>
<% Cocktail.all.each do |cocktail| %>
  <h2>Cocktail: <%= cocktail.name %></h2>
  <%= link_to "View cocktail", cocktail_path(cocktail),  class: "btn btn-warning" %>
<% end %>
